attrs
backcall
beautifulsoup4
black
boxsdk
ccf @ git+https://github.com/humanconnectome/ccf_libs@b9c98b40b4c5c528b7d741a518fa327cd03c601b
certifi
cffi
chardet
cryptography
decorator
idna
ipykernel
ipython
ipython-genutils
jedi
jupyter-client
jupyter-core
jupytext
lxml
numpy
pandas
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pycparser
Pygments
PyJWT
python-dateutil
pytz
PyYAML
pyzmq
requests
requests-toolbelt
robobrowser @ git+https://github.com/humanconnectome/robobrowser@f17e19fe57d27c3ebf3cb699862045d70a35b535
six
soupsieve
tornado
traitlets
urllib3
wcwidth
Werkzeug
wrapt
xlrd
